  .navbar-default {
        background: linear-gradient(#1E90FF, black);
        border:0;
    } 
   
    .navbar-brand {
      padding: 0px;
    }
    
    .navbar-brand>img {
      height: 100%;
      padding: 15px;
      width: auto;
    }
    
    .navbar-default .navbar-nav > li > a {
        color:white;
        margin-right: 7px;
        
    }

    .navbar-default .navbar-nav > li > a:hover {
        color:blue;
        background-color:white;
        transition-duration: 1s;
    }
    
	.footer {
		position:fixed;
		bottom:0px;
		left:0px;
		width:100%;
		color:white;
		background:	linear-gradient(#1E90FF, black);
		padding:8px;
	}
	
	
    .panel{
        border:1px solid gray;
        position: relative;
        width: 760px;
        height: 300px;
        border-radius:0px;
    }
    
    .panel-heading {
        border-radius:0px;
    }
        .panel-body{
        background-color:white;
    }
    
    p{
        text-align:center;
        letter-spacing: 1px;
        font-size:20px;
        color:white;
    }
    
    .panel-default > .panel-heading {
         background: linear-gradient(#1E90FF, black);
    }
    
   





