  .navbar-default {
        background: #428bca;
        border:0;
    } 
   
    .navbar-brand {
      padding: 0px;
    }
    
    .navbar-brand>img {
      height: 100%;
      padding: 15px;
      width: auto;
    }
    
    .navbar-default .navbar-nav > li > a {
        color:white;
        margin-right: 7px;
        
    }

    .navbar-default .navbar-nav > li > a:hover {
        color:blue;
        background-color:white;
        transition-duration: 1s;
    }
    
	.footer {
		position:fixed;
		text-align: center;
		bottom:0px;
		left:0px;
		width:100%;
		color:white;
		background: #428bca;
		padding:8px;
	}
	
	
    .panel{
        border:1px solid gray;
        position: relative;
        width: 760px;
        height: 300px;
        border-radius:0px;
    }
    
    .panel-heading {
        border-radius:0px;
    }
        .panel-body{
        background-color:white;
    }
    
    
    .panel-default > .panel-heading {
         background: #428bca;
    }
    
    /* login section*/
    
   .wrapper{
    background:#eee;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.3);
    padding: 10px;
}

    span{
        letter-spacing: 2px;
    }

    /*end login section*/
    
    /*player control panel section*/
    
        table {
        counter-reset: rowNumber;
    }
    
    table tr {
        counter-increment: rowNumber;
    }
    
    table tr td:first-child::before {
        content: counter(rowNumber);
        min-width: 1em;
        margin-right: 0.5em;
    }

    tr{
        border: 1px solid black;
    }
    th{
        background:#428bca;
        color:white;
        border: 1px solid black;
        padding: 10px;
    }
    
    td{
        border: 1px solid black;
        padding: 10px;
    }
    /*end player control panel*/

    /*sidebar styling*/
    
    .sideList {
        background: #eee;
        list-style-type: none;
        padding:0px;
        height: 800px;
    }
    
     
     .sideList > li > a {
        color:black;
        font-size:20px;
    }
    
    .sideList > li {
        padding: 10px; 
        border-bottom:1px solid black;
    }
    
     .sideList > li:hover {
        background-color:#555;
        transition-duration: 1s;
    }
    
    .sideList > li > a:hover{
        color:white;
    }
    
    .li-head{
        background:#A9A9A9;
    }
    
   
    
    /*end sidebar styling*/ 
    
    tr {
        border: 1px solid black;
    }
    
    th {
        background: #428bca;
        color: white;
        border: 1px solid black;
        padding: 10px;
    }
    
    td {
        border: 1px solid black;
        padding: 10px;
    }
    
    

    /*overwrite layout*/
    
    .col-md-2 {
        padding-left:0px;
        padding-top:0px;
        padding-bottom: 0px;
        height:800px;
        left: 0;
        top: -20px;
      }
      
     .btn-primary {
         border:none;
         padding:15px;
         border-radius:0px;
     }
     
     .btn-primary:hover {
        color:blue;
        background-color:white;
        transition-duration: 1s;
     }
     
    .dropdown-menu{
        border-radius:0px;
        background-color:#eee;
    }
    
    /*end overwrite layout*/

    .selected{
        background-color: yellow;
    }