<template name="headertop">
    
	<nav role="navigation" class="navbar navbar-default navbar-static-top">
   
            <div class="navbar-header">

                <!-- Branding Image -->
                <a class="pull-left" href="">
                <a class="navbar-brand" href="home.html"><img src="/myApp/client/images/logo.png" alt="Investr logo">
                </a> 
                <!-- <img src="https://www.dropbox.com/s/3cllcra564osunw/Logo.png?dl=0" height="50px"> -->
                </a>
            </div>

            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <!-- Left Side Of Navbar -->
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">HOME
                            <i class="glyphicon glyphicon-home"></i>
                        </a>
                    </li>
	
                {{#if isInRole 'admin'}}
                    <li>
                        <a href="/adminMain">ADMIN
                            <i class="glyphicon glyphicon-align-left"></i>
                        </a>
                    </li>
                 {{/if}}
                  
                 {{#if isInRole 'player-user'}}
                     <li>
                        <a href="/contact">CONTACT
                        
                        </a>
                    </li>
                 {{/if}}
                </ul>
                
                
            {{#if currentUser}}
                        <div class="navbar-collapse collapse navbar-right" >
                <ul class="nav navbar-nav">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                         Welcome {{currentUser.profile.profileName}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a href="/logout">Logout</a></li>
                          <li><a href="/profile">Profile</a></li>
                          <li><a href="#">Help</a></li>
                          <li><a href="#">Settings</a></li>
                        </ul>
                      </div>
                </ul>
                </div>
                        
                
            {{else}}
                <!-- Right Side Of Navbar -->
                <ul class="nav navbar-nav navbar-right">
                 
                        <li>
                            <a href="/login">SIGN IN
                                <i class="glyphicon glyphicon-lock"></i>
                            </a>
                        </li>
                        
                </ul>
                
        {{/if}}
            </div>
      </nav>
</template>
