<template name="headertop">
    
	<nav role="navigation" class="navbar navbar-default navbar-static-top">
   
            <div class="navbar-header">

                <!-- Branding Image -->
                <a class="pull-left" href="">
                 <!-- <img src="" height="50px"> -->
                 
                </a>
            </div>

            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <!-- Left Side Of Navbar -->
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">HOME
                            <i class="glyphicon glyphicon-home"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a href="/sharemarket">SHARE MARKET
                            <i class="glyphicon glyphicon-usd"></i>    
                        </a>
                    </li>
			
                    <li>
                        <a href="/leaderboard">LEADERBOARD
                            <i class="glyphicon glyphicon-stats"></i>    
                        </a>
                    </li>
                {{#if isInRole 'admin'}}
                    <li>
                        <a href="/adminMain">ADMIN
                            <i class="glyphicon glyphicon-align-left"></i>
                        </a>
                    </li>
                 {{/if}}
                  
                   
                </ul>
                
                
            {{#if currentUser}}
                <ul class="nav navbar-nav navbar-right">
                 
                    <li>
                            <a href="/logout">{{currentUser.profile.profileName}} SIGN OUT 
                                <i class="glyphicon glyphicon-lock"></i>
                            </a>
                        </li>
                </ul>
            {{else}}
                <!-- Right Side Of Navbar -->
                <ul class="nav navbar-nav navbar-right">
                 
                        <li>
                            <a href="/login">SIGN IN
                                <i class="glyphicon glyphicon-lock"></i>
                            </a>
                        </li>
                        
                </ul>
            
        {{/if}}
            </div>
      </nav>
</template>
