<template name="headertop">
    
	<nav role="navigation" class="navbar navbar-default navbar-static-top">
   
            <div class="navbar-header">

                <!-- Branding Image -->
                <a class="pull-left" href="">
                 <!-- <img src="" height="50px"> -->
                 
                </a>
            </div>

            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <!-- Left Side Of Navbar -->
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">HOME
                            <i class="glyphicon glyphicon-home"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a href="/sharemarket">SHARE MARKET
                            <i class="glyphicon glyphicon-usd"></i>    
                        </a>
                    </li>
			
                    <li>
                        <a href="/leaderboard">LEADERBOARD
                            <i class="glyphicon glyphicon-stats"></i>    
                        </a>
                    </li>
                    
                    <li>
                        <a href="">RESEARCH
                            <i class="glyphicon glyphicon-align-left"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a href="">HELP
                            <i class="glyphicon glyphicon-plus"></i>
                        </a>
                    </li>
                   
                </ul>

                <!-- Right Side Of Navbar -->
                <ul class="nav navbar-nav navbar-right">
                 
                        <li>
                            <a href="/login">LOGIN
                                <i class="glyphicon glyphicon-lock"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">REGISTER
                                <i class="fa fa-key"></i>
                            </a>
                        </li>
                </ul>
            </div>
      </nav>
</template>
