<template name="auction">
 <h1>List of Stock Tickers</h1>

<head>
<title>HTML Table Header</title>
</head>
<body>
<table border="1">
<tr>
<th>Ticker Symbol</th>
<th>Name of the Company</th>
</tr>
<tr>
<td>VATSAEDU.BO</td>
<td>VATSA EDUCATIONS LTD.</td>
</tr>
<tr>
<td>RES.TO</td>
<td>Rare Element Resources Ltd.</td>
</tr>
<tr>
<td>WELLNESS.BO</td>
<td>WELLNESS NONI LTD.</td>
</tr>
<tr>
<td>WNGRF</td>
<td>George Weston Limited</td>
</tr>
<tr>
<td>ECV.L</td>
<td>Eco City Vehicles plc</td>
</tr>
<tr>
<td>RXNRP</td>
<td>REX ENERGY CORP</td>
</tr>
<tr>
<td>HAL</td>
<td>Halliburton Company</td>
</tr>
<tr>
<td>MCF</td>
<td>Contango Oil & Gas Company</td>
</tr>
<tr>
<td>ADRO.JK</td>
<td>ADARO ENERGY TBK IDR100.</td>
</tr>
<tr>
<td>CASS</td>
<td>Cass Information Systems, Inc.</td>
</tr>
</table>
</body>
  </template>
  