<template name="leaderboard">
<head>
  <title>Leaderboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<h1>Current Leaderboard</h1>

<table>
            <th>No.</th>
            <th>Name</th>
            <th>Current Portfolio Value</th>
              
          <!--    <tr>
                  <td><ol type="I">
                      <li>
                          
                      </li>
                  </ol></td>
              </tr> -->
              
         {{#each allUsers}}
           <tr>
               <td></td>
               <td>{{profile.profileName}}</td>
               <td>{{profile.amount}} </td>
             
            </tr>
             {{/each}}
 
        </table>
</template>