<template name="profile">
   <h1><center>Welcome,<bold>{{currentUser.profile.profileName}}</bold></center></h1>
   <center>
        <table>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Balance</th>
                </tr>
        <tr>
            <td>{{currentUser.profile.profileName}}</td>
            <td>{{currentUser.emails}}</td>
            <td>${{currentUser.profile.amount}}</td>
        </tr>
        
        </table>
    </center>
</template>