<template name="stock">
   
    <br>
     <table>
                <tr>
                    <th>Symbol</th>
                    <th>Count</th>
                    <th>Company Name</th>
                    <th>Volume</th>
                    <th>Last Trade</th>
                    <th>Delete</th>
                                        
                </tr>
        <tr>
            <td>{{symbol}}</td>
            <td>({{count}})</td>
            <td>{{name.name}}</td>
            <td>{{name.volume}}</td>
            <td>{{name.lastTradePriceOnly}}</td>
            <td><div class="options">
                <span class="toggle-favourite"></span>
                <span class="delete" title="Delete">X</span>
                </div></td>
        </tr>
        
        </table>
     
    
  
  {{#with selectedStock}}
  {{> stockDetail}}
{{/with}}
</template>
