<template name="playerManage">
   
        <h2><span>PLAYER MANAGEMENT CONSOLE</span></h2>
            <table>
                
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>DisplayName</th>
                </tr>
                
             {{#each allUsers}}    
                <tr>
                    <td class="user {{selectedClass}}">{{_id}}</td>
                    <td>{{email}}</td>
                    <td>{{profile.profileName}}</td>
                  </tr>
               {{/each}}
        
            </table>
             <button class="remove">Ban Player</button>
</template>