<template name="playerManage">
   
        
            <table>
                
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>DisplayName</th>
                </tr>
                
             {{#each allUsers}}    
                <tr>
                    <td>{{_id}}</td>
                    <td>{{email}}</td>
                    <td>{{profile.profileName}}</td>
                </tr>
               {{/each}}
           <button class="ban">Ban Player</button>
            </table>
          
</template>