<template name="playerManage">
   
        <h2><span>PLAYER MANAGEMENT CONSOLE</span></h2>
            <table>
                
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>DisplayName</th>
                </tr>
                
             {{#each allUsers}}    
                <tr>
                    <td>{{_id}}</td>
                    <td>{{email}}</td>
                    <td>{{profile.profileName}}</td>
                    {{#if selectedUser}}
                    <td>Selected Player:{{selectedUser.profile.profileName}}</td>
                     <button class="remove">Ban Player</button>
                    {{/if}}
                </tr>
               {{/each}}
          
            </table>
          
</template>