    
   <template name="home">
          {{#if currentUser}}
              <h1>Welcome {{currentUser.profile.profileName}}!</h1>
          {{else}}
              <h1>Welcome to INVESTR!</h1>
              To play this game, please register your account!
             <h2><img src="https://upload.wikimedia.org/wikipedia/commons/8/80/Equus_asinus_Kadzid%C5%82owo_001.jpg" alt="some_donkey" style="660;660;"></h2>
              <h2><img src="https://www.dropbox.com/s/3cllcra564osunw/Logo.png?dl=0" alt="some_monkey" style="400;200;"></h2>
          {{/if}}
    </template>
    
